@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container{
background-image: url("/images/BG.png");
background-size: cover;
background-position: center;
min-height: 100vh;
max-width: 375px;
margin: auto;
background-color:#FFF84D;
}

.shadow{
  box-shadow: rgba(113, 99, 170, 1) 0px 4px 0px 0px;
}